<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <header class="title">
        IIT GOA Something
    </header>
    <nav>
        <a href="http://localhost:4444/home">Home</a>
        <a href="">About Me</a>
        <a href="">Contact</a>
        <a href="">Logout</a>
    </nav>
    <h3>Welcome to Home page <%= name %> </h3>
</body>
</html>