<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./login.css" />
    <title>login page</title>
  </head>
  <body>
    <div class="container">
      <div class="box">
        <div class="btn">
          <div class="text">
            <a href="http://localhost:4444/login/google">
              Sign in with Google
            </a>
          </div>
          <div class="image">
            <img
              src="https://img.icons8.com/fluent/48/000000/google-logo.png"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

